.elementor-70
  .elementor-element.elementor-element-9e9f8fe:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-70
  .elementor-element.elementor-element-9e9f8fe
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #87cefa;
  background-image: url(./../images/Headquater.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-70 .elementor-element.elementor-element-9e9f8fe {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0px 360px 0px;
}
.elementor-70
  .elementor-element.elementor-element-9e9f8fe
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-70
  .elementor-element.elementor-element-db247c9
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 8px;
}
.elementor-70 .elementor-element.elementor-element-a0f328a {
  text-align: left;
}
.elementor-70
  .elementor-element.elementor-element-a0f328a
  .elementor-heading-title {
  color: var(--e-global-color-uicore_primary);
}
.elementor-70
  .elementor-element.elementor-element-05960dc
  .elementor-heading-title {
  color: var(--e-global-color-uicore_secondary);
}
.elementor-70
  .elementor-element.elementor-element-05960dc
  > .elementor-widget-container {
  margin: 0px 0px 80px 0px;
}
.elementor-70 .elementor-element.elementor-element-05960dc {
  width: var(--container-widget-width, 580px);
  max-width: 580px;
  --container-widget-width: 580px;
  --container-widget-flex-grow: 0;
}
.elementor-70 .elementor-element.elementor-element-05960dc.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-70 .elementor-element.elementor-element-375413c {
  --spacer-size: 8px;
}
.elementor-70
  .elementor-element.elementor-element-89138a4.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-70
  .elementor-element.elementor-element-89138a4
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 8px;
}
.elementor-70 .elementor-element.elementor-element-de9a46c {
  --spacer-size: 50px;
}
.elementor-70 .elementor-element.elementor-element-01144f2 {
  text-align: center;
  width: auto;
  max-width: auto;
}
.elementor-70
  .elementor-element.elementor-element-01144f2
  .elementor-heading-title {
  color: var(--e-global-color-uicore_primary);
}
.elementor-70
  .elementor-element.elementor-element-01144f2
  > .elementor-widget-container {
  padding: 5px 10px 5px 10px;
  background-color: var(--e-global-color-uicore_secondary);
  border-radius: 5px 5px 5px 5px;
}
.elementor-70
  .elementor-element.elementor-element-01144f2.bdt-background-overlay-yes
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-70 .elementor-element.elementor-element-db5f8ea {
  --spacer-size: 8px;
}
.elementor-70 .elementor-element.elementor-element-f101ce2 {
  padding: 0px 0px 0px 0px;
}
.elementor-70
  .elementor-element.elementor-element-d4c3863:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-70
  .elementor-element.elementor-element-d4c3863
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #87cefa;
}
.elementor-70
  .elementor-element.elementor-element-d4c3863
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-image: url(./../images/Car-Loan-About-Values-BG.webp);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60% auto;
  opacity: 1;
}
.elementor-70
  .elementor-element.elementor-element-d4c3863
  > .elementor-element-populated
  > .elementor-background-overlay {
  mix-blend-mode: overlay;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-70
  .elementor-element.elementor-element-d4c3863
  > .elementor-element-populated,
.elementor-70
  .elementor-element.elementor-element-d4c3863
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-70
  .elementor-element.elementor-element-d4c3863
  > .elementor-background-slideshow {
  border-radius: 16px 16px 16px 16px;
}
.elementor-70
  .elementor-element.elementor-element-d4c3863
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 64px 56px 64px 56px;
}
.elementor-70 .elementor-element.elementor-element-87a1854 {
  text-align: center;
  width: auto;
  max-width: auto;
}
.elementor-70
  .elementor-element.elementor-element-87a1854
  .elementor-heading-title {
  color: #87cefa;
}
.elementor-70
  .elementor-element.elementor-element-87a1854
  > .elementor-widget-container {
  margin: 0px 0px 16px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #003032;
  border-radius: 5px 5px 5px 5px;
}
.elementor-70
  .elementor-element.elementor-element-87a1854.bdt-background-overlay-yes
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-70
  .elementor-element.elementor-element-f343174
  .elementor-heading-title {
  color: #003032;
  font-size: 20px;
}
.elementor-bc-flex-widget
  .elementor-70
  .elementor-element.elementor-element-149c3ac.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-70
  .elementor-element.elementor-element-149c3ac.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-70
  .elementor-element.elementor-element-149c3ac.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-70
  .elementor-element.elementor-element-149c3ac:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-70
  .elementor-element.elementor-element-149c3ac
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url(./../images/Mission-Statement-Image-for-RCN-website-.png);
  background-position: center center;
  background-size: cover;
}
.elementor-70
  .elementor-element.elementor-element-149c3ac
  > .elementor-element-populated,
.elementor-70
  .elementor-element.elementor-element-149c3ac
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-70
  .elementor-element.elementor-element-149c3ac
  > .elementor-background-slideshow {
  border-radius: 16px 16px 16px 16px;
}
.elementor-70
  .elementor-element.elementor-element-149c3ac
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-70
  .elementor-element.elementor-element-149c3ac
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-70 .elementor-element.elementor-element-abf62c9 {
  --spacer-size: 220px;
}
.elementor-70 .elementor-element.elementor-element-464dddf {
  padding: 120px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-70
  .elementor-element.elementor-element-4bbaf34.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-70
  .elementor-element.elementor-element-4bbaf34.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-70
  .elementor-element.elementor-element-4bbaf34.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-70
  .elementor-element.elementor-element-4bbaf34:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-70
  .elementor-element.elementor-element-4bbaf34
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url(./../images/Vision-Statement-Image-for-RCN-website-.png);
  background-position: center center;
  background-size: cover;
}
.elementor-70
  .elementor-element.elementor-element-4bbaf34
  > .elementor-element-populated,
.elementor-70
  .elementor-element.elementor-element-4bbaf34
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-70
  .elementor-element.elementor-element-4bbaf34
  > .elementor-background-slideshow {
  border-radius: 16px 16px 16px 16px;
}
.elementor-70
  .elementor-element.elementor-element-4bbaf34
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-70
  .elementor-element.elementor-element-4bbaf34
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-70 .elementor-element.elementor-element-9bfd432 {
  --spacer-size: 220px;
}
.elementor-70
  .elementor-element.elementor-element-b819b6d:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-70
  .elementor-element.elementor-element-b819b6d
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #87cefa;
}
.elementor-70
  .elementor-element.elementor-element-b819b6d
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-image: url(./../images/Car-Loan-About-Values-BG.webp);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60% auto;
  opacity: 1;
}
.elementor-70
  .elementor-element.elementor-element-b819b6d
  > .elementor-element-populated
  > .elementor-background-overlay {
  mix-blend-mode: overlay;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-70
  .elementor-element.elementor-element-b819b6d
  > .elementor-element-populated,
.elementor-70
  .elementor-element.elementor-element-b819b6d
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-70
  .elementor-element.elementor-element-b819b6d
  > .elementor-background-slideshow {
  border-radius: 16px 16px 16px 16px;
}
.elementor-70
  .elementor-element.elementor-element-b819b6d
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 64px 56px 64px 56px;
}
.elementor-70 .elementor-element.elementor-element-a242df0 {
  text-align: center;
  width: auto;
  max-width: auto;
}
.elementor-70
  .elementor-element.elementor-element-a242df0
  .elementor-heading-title {
  color: #87cefa;
}
.elementor-70
  .elementor-element.elementor-element-a242df0
  > .elementor-widget-container {
  margin: 0px 0px 16px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #003032;
  border-radius: 5px 5px 5px 5px;
}
.elementor-70
  .elementor-element.elementor-element-a242df0.bdt-background-overlay-yes
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-70
  .elementor-element.elementor-element-905c9f1
  .elementor-heading-title {
  color: #003032;
  font-size: 20px;
}
.elementor-70 .elementor-element.elementor-element-a2c3452 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 0px 0px;
}
.elementor-70
  .elementor-element.elementor-element-7aef189
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-70 .elementor-element.elementor-element-5d2f7b0 img {
  width: 50px;
}
.elementor-70 .elementor-element.elementor-element-5d2f7b0 {
  width: auto;
  max-width: auto;
  top: -31px;
}
body:not(.rtl) .elementor-70 .elementor-element.elementor-element-5d2f7b0 {
  right: -7px;
}
body.rtl .elementor-70 .elementor-element.elementor-element-5d2f7b0 {
  left: -7px;
}
.elementor-70 .elementor-element.elementor-element-abce951 img {
  width: 40px;
}
.elementor-70 .elementor-element.elementor-element-abce951 {
  width: auto;
  max-width: auto;
  top: 436px;
}
body:not(.rtl) .elementor-70 .elementor-element.elementor-element-abce951 {
  left: -15px;
}
body.rtl .elementor-70 .elementor-element.elementor-element-abce951 {
  right: -15px;
}
.elementor-70 .elementor-element.elementor-element-e4013a2 img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px 16px 16px 16px;
}
.elementor-70
  .elementor-element.elementor-element-e4013a2
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-70 .elementor-element.elementor-element-e4013a2 {
  width: var(--container-widget-width, 94.601%);
  max-width: 94.601%;
  --container-widget-width: 94.601%;
  --container-widget-flex-grow: 0;
}
.elementor-70 .elementor-element.elementor-element-e4013a2.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-70
  .elementor-element.elementor-element-f33f9d7
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 16px;
}
.elementor-70
  .elementor-element.elementor-element-33ec9a4
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-70
  .elementor-element.elementor-element-33ec9a4
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-70 .elementor-element.elementor-element-33ec9a4 {
  width: var(--container-widget-width, 98.223%);
  max-width: 98.223%;
  --container-widget-width: 98.223%;
  --container-widget-flex-grow: 0;
}
.elementor-70 .elementor-element.elementor-element-33ec9a4.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-70 .elementor-element.elementor-element-f924027 {
  color: var(--e-global-color-uicore_headline);
  font-family: "Inter", Sans-serif;
  font-weight: 600;
  line-height: 26px;
}
.elementor-70
  .elementor-element.elementor-element-f924027
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-70 .elementor-element.elementor-element-9a1536a {
  font-size: 16px;
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
@media (min-width: 768px) {
  .elementor-70 .elementor-element.elementor-element-7aef189 {
    width: 30.828%;
  }
  .elementor-70 .elementor-element.elementor-element-f33f9d7 {
    width: 69.171%;
  }
}
@media (max-width: 1024px) {
  .elementor-70 .elementor-element.elementor-element-9e9f8fe {
    padding: 150px 0px 250px 0px;
  }
  .elementor-70 .elementor-element.elementor-element-05960dc {
    --container-widget-width: 400px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 400px);
    max-width: 400px;
  }
  .elementor-70 .elementor-element.elementor-element-f101ce2 {
    padding: 80px 0px 0px 0px;
  }
  .elementor-70
    .elementor-element.elementor-element-d4c3863
    > .elementor-element-populated,
  .elementor-70
    .elementor-element.elementor-element-d4c3863
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-70
    .elementor-element.elementor-element-d4c3863
    > .elementor-background-slideshow {
    border-radius: 14px 14px 14px 14px;
  }
  .elementor-70
    .elementor-element.elementor-element-d4c3863
    > .elementor-element-populated {
    padding: 32px 32px 32px 32px;
  }
  .elementor-70
    .elementor-element.elementor-element-f343174
    .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-70
    .elementor-element.elementor-element-149c3ac
    > .elementor-element-populated,
  .elementor-70
    .elementor-element.elementor-element-149c3ac
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-70
    .elementor-element.elementor-element-149c3ac
    > .elementor-background-slideshow {
    border-radius: 14px 14px 14px 14px;
  }
  .elementor-70 .elementor-element.elementor-element-464dddf {
    padding: 80px 0px 0px 0px;
  }
  .elementor-70
    .elementor-element.elementor-element-4bbaf34
    > .elementor-element-populated,
  .elementor-70
    .elementor-element.elementor-element-4bbaf34
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-70
    .elementor-element.elementor-element-4bbaf34
    > .elementor-background-slideshow {
    border-radius: 14px 14px 14px 14px;
  }
  .elementor-70
    .elementor-element.elementor-element-b819b6d
    > .elementor-element-populated,
  .elementor-70
    .elementor-element.elementor-element-b819b6d
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-70
    .elementor-element.elementor-element-b819b6d
    > .elementor-background-slideshow {
    border-radius: 14px 14px 14px 14px;
  }
  .elementor-70
    .elementor-element.elementor-element-b819b6d
    > .elementor-element-populated {
    padding: 32px 32px 32px 32px;
  }
  .elementor-70
    .elementor-element.elementor-element-905c9f1
    .elementor-heading-title {
    font-size: 24px;
  }
  .elementor-70 .elementor-element.elementor-element-5d2f7b0 img {
    width: 4vw;
  }
  body:not(.rtl) .elementor-70 .elementor-element.elementor-element-5d2f7b0 {
    right: 8vw;
  }
  body.rtl .elementor-70 .elementor-element.elementor-element-5d2f7b0 {
    left: 8vw;
  }
  .elementor-70 .elementor-element.elementor-element-5d2f7b0 {
    top: 20px;
  }
  .elementor-70 .elementor-element.elementor-element-abce951 img {
    width: 3vw;
  }
  body:not(.rtl) .elementor-70 .elementor-element.elementor-element-abce951 {
    left: -2px;
  }
  body.rtl .elementor-70 .elementor-element.elementor-element-abce951 {
    right: -2px;
  }
  .elementor-70 .elementor-element.elementor-element-abce951 {
    top: 150px;
  }
  .elementor-70 .elementor-element.elementor-element-e4013a2 img {
    border-radius: 14px 14px 14px 14px;
  }
  .elementor-70
    .elementor-element.elementor-element-e4013a2
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-70 .elementor-element.elementor-element-9a1536a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .elementor-70 .elementor-element.elementor-element-9e9f8fe {
    padding: 110px 0px 170px 0px;
  }
  .elementor-70 .elementor-element.elementor-element-f101ce2 {
    padding: 48px 0px 0px 0px;
  }
  .elementor-70
    .elementor-element.elementor-element-d4c3863
    > .elementor-element-populated,
  .elementor-70
    .elementor-element.elementor-element-d4c3863
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-70
    .elementor-element.elementor-element-d4c3863
    > .elementor-background-slideshow {
    border-radius: 12px 12px 12px 12px;
  }
  .elementor-70
    .elementor-element.elementor-element-d4c3863
    > .elementor-element-populated {
    padding: 32px 24px 32px 24px;
  }
  .elementor-70
    .elementor-element.elementor-element-f343174
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-70
    .elementor-element.elementor-element-149c3ac
    > .elementor-element-populated,
  .elementor-70
    .elementor-element.elementor-element-149c3ac
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-70
    .elementor-element.elementor-element-149c3ac
    > .elementor-background-slideshow {
    border-radius: 12px 12px 12px 12px;
  }
  .elementor-70 .elementor-element.elementor-element-464dddf {
    padding: 48px 0px 0px 0px;
  }
  .elementor-70
    .elementor-element.elementor-element-4bbaf34
    > .elementor-element-populated,
  .elementor-70
    .elementor-element.elementor-element-4bbaf34
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-70
    .elementor-element.elementor-element-4bbaf34
    > .elementor-background-slideshow {
    border-radius: 12px 12px 12px 12px;
  }
  .elementor-70
    .elementor-element.elementor-element-b819b6d
    > .elementor-element-populated,
  .elementor-70
    .elementor-element.elementor-element-b819b6d
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-70
    .elementor-element.elementor-element-b819b6d
    > .elementor-background-slideshow {
    border-radius: 12px 12px 12px 12px;
  }
  .elementor-70
    .elementor-element.elementor-element-b819b6d
    > .elementor-element-populated {
    padding: 32px 24px 32px 24px;
  }
  .elementor-70
    .elementor-element.elementor-element-905c9f1
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-70 .elementor-element.elementor-element-5d2f7b0 img {
    width: 8vw;
  }
  body:not(.rtl) .elementor-70 .elementor-element.elementor-element-5d2f7b0 {
    right: 12vw;
  }
  body.rtl .elementor-70 .elementor-element.elementor-element-5d2f7b0 {
    left: 12vw;
  }
  .elementor-70 .elementor-element.elementor-element-abce951 img {
    width: 6vw;
  }
  body:not(.rtl) .elementor-70 .elementor-element.elementor-element-abce951 {
    left: -2px;
  }
  body.rtl .elementor-70 .elementor-element.elementor-element-abce951 {
    right: -2px;
  }
  .elementor-70 .elementor-element.elementor-element-abce951 {
    top: 42vw;
  }
  .elementor-70 .elementor-element.elementor-element-e4013a2 img {
    border-radius: 12px 12px 12px 12px;
  }
}
